body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.header {
	background-color: #292c31;
	color: #1c834d;
	height: 50px;
}
.menu {
	background-color: blue;
	text-align: center;
	align-items: center;
	color: #ffffff;
	height: 50px;
}

p {
	color: red;
}
